In [1]:

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import svm
from sklearn import ensemble
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor

merged_df=pd.read_csv("/home/user/Bureau/dataScientest/projet_pompiers_Londres/data/merged_meteo.csv")

In [2]:
merged_df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
0,20200101,8.0,0.0,13.0,6.6,4.1,1.7,0.0,102980.0,NaN,...,324.0,Hillingdon,292.0,Hillingdon,1.0,2.0,2,60.0,339.0,3.0
1,20200101,8.0,0.0,13.0,6.6,4.1,1.7,0.0,102980.0,NaN,...,324.0,Hillingdon,292.0,Hillingdon,1.0,2.0,2,60.0,339.0,3.0
2,20200101,8.0,0.0,13.0,6.6,4.1,1.7,0.0,102980.0,NaN,...,195.0,Richmond,NaN,NaN,1.0,1.0,1,60.0,339.0,1.0
3,20200101,8.0,0.0,13.0,6.6,4.1,1.7,0.0,102980.0,NaN,...,426.0,Edmonton,NaN,NaN,1.0,1.0,1,60.0,339.0,1.0
4,20200101,8.0,0.0,13.0,6.6,4.1,1.7,0.0,102980.0,NaN,...,249.0,Tooting,255.0,Tooting,1.0,2.0,2,63.0,356.0,2.0

In [3]:
df=merged_df[['cloud_cover', 'sunshine', 'mean_temp', 'precipitation', 'CalYear', 'HourOfCall', 'AttendanceTimeSeconds']]
df=df.dropna()
df.head()

,cloud_cover,sunshine,mean_temp,precipitation,CalYear,HourOfCall,AttendanceTimeSeconds
0,8.0,0.0,4.1,0.0,2020,0,324
1,8.0,0.0,4.1,0.0,2020,0,292
2,8.0,0.0,4.1,0.0,2020,0,195
3,8.0,0.0,4.1,0.0,2020,0,426
4,8.0,0.0,4.1,0.0,2020,0,249

In [4]:
target=df['AttendanceTimeSeconds'] #à essayer avec Traveltime
df_train=df[['cloud_cover', 'sunshine', 'mean_temp', 'precipitation', 'CalYear', 'HourOfCall']]



X_train, X_test, y_train, y_test = train_test_split(df_train, target, test_size=0.2)

In [5]:
score_knn=[]



for k in range(2, 41):
	knn=neighbors.KNeighborsRegressor(n_neighbors=k)
	knn.fit(X_train, y_train)
	score_knn.append(knn.score(X_test, y_test))
	

y_knn = knn.predict(X_test)


knn_score = knn.score(X_train, y_train)
print("KNeighborsRegressor score:", knn_score)

KNeighborsRegressor score: 0.06193427413204966

In [7]:
# Diviser la cible en quartiles (4 quartiles)
quartiles = pd.qcut(target, q=4, labels=False)

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(df_train, quartiles, test_size=0.2)

score_knn=[]



for k in range(2, 41):
	knn=neighbors.KNeighborsRegressor(n_neighbors=k)
	knn.fit(X_train, y_train)
	score_knn.append(knn.score(X_test, y_test))
	

y_knn = knn.predict(X_test)


knn_score = knn.score(X_train, y_train)
print("KNeighborsRegressor score with quartiles:", knn_score)

KNeighborsRegressor score with quartiles: 0.05802241479761272